include ./mixins

- const message = 'В вашем браузере необходимо включить JavaScript.'
block vars

doctype html
html(class="no-js" dir="ltr" lang="ru")
  head
    include ./_meta
    block resource-hint-links
    include ./_fonts

    if page.id === 'index'
      link(
        rel="preload"
        href="./scss/splitting.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'"
      )
      link(
        rel="preload"
        href="./scss/map.scss" as="style"
        onload="this.onload=null;this.rel='stylesheet'"
      )
      noscript: link(rel="stylesheet" href="./scss/splitting.css")
      noscript: link(rel="stylesheet" href="./scss/map.scss")

    link(rel="stylesheet" type="text/css" href="./scss/main.scss")
    script(defer type="module" src="./js/modules.js")
    block head

  body.page.page--loading(itemscope itemtype="https://schema.org/WebPage")
    noscript: h2= message
    include ./_header

    //- https://schema.org/docs/datamodel.html#mainEntityBackground
    main(
      data-id= page.id
      itemprop="mainEntity"
      itemscope itemtype="https://schema.org/Restaurant"
      itemid= data.meta.domain
    )
      include ./_microdata
      if page.id === 'index'
        .a2hs.hidden
          +cta({
            base: 'a2hs',
            type: 'button',
            text: 'Установить'
          })
      block content

    include ./_cursor
    block scripts

    prepend scripts
      script(src="./js/index.js")
      script(src="./a2hs.js")
